body {
  font-family: "Roboto", sans-serif;
  color: #f1f5f9;
  background-color: #0f172a;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ef4444;
}
.logo .a {
  text-decoration: none;
}
